<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <a class="logout-btn" href="/logout">Logout</a>

    <div class="container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <h2>Post by: <%= info.user.name %></h2>
                    <p><%= info.topic %></p>
                    <p><%= info.content %></p>
                    <% if (info.document) { %>
                        <p>Uploaded Document: <a href="/uploads/<%= info.document %>" target="_blank"><a href="chat"><img src="./images/documents.png" alt="" class="small-icon"></a></a></p>
                    <% } %>
                    <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">infoid</button>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %> 
                            <div class="reply">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html> -->


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header class="header">
        <a class="logout-btn" href="/logout">Logout</a>
    </header>

    <main class="main-container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <div class="thread-header">
                        <h2>Post by: <%= info.user.name %></h2>
                        <p class="thread-topic"><%= info.topic %></p>
                    </div>
                    <p class="thread-content"><%= info.content %></p>
                    <% if (info.document) { %>
                        <p class="thread-document">
                            Uploaded Document: 
                            <a href="/uploads/<%= info.document %>" target="_blank">
                                <img src="./images/documents.png" alt="Document Icon" class="small-icon">
                            </a>
                        </p>
                    <% } %>
                    <% if (info.summary) { %>
                        <p><strong>Summary:</strong> <%= info.summary %></p>
                    <% } %>
                    <div class="thread-actions">
                        <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">Log Query ID</button>
                        <button class="flag-reply-btn">Flagged Reply</button>
                    </div>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %>
                            <div class="reply" data-reply-id="<%= reply._id %>" data-user-id="<%= reply.user._id %>">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>

    <script src="./js/script.js"></script>
</body>
</html> -->


<!-- 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header class="header">
        <a class="logout-btn" href="/logout">Logout</a>
    </header>

    <main class="main-container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <div class="thread-header">
                        <h2>Post by: <%= info.user.name %></h2>
                        <p class="thread-topic"><%= info.topic %></p>
                    </div>
                    <p class="thread-content"><%= info.content %></p>
                    <% if (info.document) { %>
                        <p class="thread-document">
                            Uploaded Document: 
                            <a href="/uploads/<%= info.document %>" target="_blank">
                                <img src="./images/documents.png" alt="Document Icon" class="small-icon">
                            </a>
                        </p>
                    <% } %>
                    <% if (info.summary) { %>
                        <p><strong>Summary:</strong> <%= info.summary %></p>
                    <% } %>
                    <div class="thread-actions">
                        <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">Log Query ID</button>
                        <button class="flag-reply-btn">Flagged Reply</button>
                    </div>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %>
                            <div class="reply" data-reply-id="<%= reply._id %>" data-user-id="<%= reply.user._id %>">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>

    <script src="./js/script.js"></script>
</body>
</html> -->








<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <a class="logout-btn" href="/logout">Logout</a>

    <div class="container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <h2>Post by: <%= info.user.name %></h2>
                    <p><%= info.topic %></p>
                    <p><%= info.content %></p>
                    <% if (info.document) { %>
                        <p>Uploaded Document: <a href="/uploads/<%= info.document %>" target="_blank"><a href="chat"><img src="./images/documents.png" alt="" class="small-icon"></a></a></p>
                    <% } %>
                    <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">infoid</button>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %> 
                            <div class="reply">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>  -->





<!-- //original -->
<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <a class="logout-btn" href="/logout">Logout</a>

    <div class="container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <h2>Post by: <%= info.user.name %>
                    </h2>
                    <p>
                        <%= info.topic %>
                    </p>

                    <p>
                        <%= info.content %>
                    </p>
                    <% if (info.document) { %>
                        <p>Uploaded Document: <a href="/uploads/<%= info.document %>" target="_blank"><a
                                    href="chat"><img src="./images/documents.png" alt="" class="small-icon"></a></a></p>
                        <% } %>

                            
                            <% if (info.summary) { %>
                                <p><strong>Summary:</strong>
                                    <%= info.summary %>
                                </p>
                                <% } %>

                                    <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">Log Query
                                        ID</button>  
                                     <button>flagged reply</button>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %> 
                            <div class="reply">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>


                                     <button class="flag-reply-btn">Flagged Reply</button>
                                    <form class="reply-form" action="/reply" method="post">
                                        <input type="hidden" name="topicId" value="<%= info._id %>">
                                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                                        <input type="text" name="replycontent" placeholder="Write your answer..."
                                            class="hidden">
                                        <input type="submit" value="Post" class="hidden">
                                    </form>
                                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                                    <div class="replies-container">
                                        <% info.replies.reverse().forEach(function(reply) { %>
                                            <div class="reply" data-reply-id="<%= reply._id %>"
                                                data-user-id="<%= reply.user._id %>">
                                                <p><strong>
                                                        <%= reply.user.name %>:
                                                    </strong>
                                                    <%= reply.replycontent %>
                                                </p>
                                            </div>
                                            <% }); %>
                                    </div>


                </div>
                <% }); %>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html> 
 -->









<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <a class="logout-btn" href="/logout">Logout</a>

    <div class="container">
        <h1><a href="topic">Create Threads</a></h1>
        <button class="show-messages-btn" onclick="showMessages()">Show All Threads</button>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <h2>Post by: <%= info.user.name %></h2>
                    <p><%= info.topic %></p>
                    <p><%= info.content %></p>
                    <% if (info.document) { %>
                        <p>Uploaded Document: <a href="/uploads/<%= info.document %>" target="_blank"><a href="chat"><img src="./images/documents.png" alt="" class="small-icon"></a></a></p>
                    <% } %>
                    <% if (info.summary) { %>
                        <p><strong>Summary:</strong> <%= info.summary %></p>
                    <% } %>
                    <button type="button" class="infoid-btn" data-query-id="<%= info._id %>">Log Query ID</button>
                    <button class="flag-reply-btn">flagged reply</button>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> reply</i>
                        <input type="text" name="replycontent" placeholder="Write your answer..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% info.replies.reverse().forEach(function(reply) { %>
                            <div class="reply" data-reply-id="<%= reply._id %>" data-user-id="<%= reply.user._id %>">
                                <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>



